body {
    margin: 0;
    min-width: 250px;
}

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.post-list .fa-check {
    opacity: 0;
    transition: 1s all;
}

ul li {
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}

.list-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

.header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 114, 1) 54%, rgba(140, 0, 255, 1) 93%);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: none;
    outline: none;
}

.addBtn:hover {
    background-color: #bbb;
}

.post-list.check .span-list {
    text-decoration: line-through;
}

.post-list.check .fa-check {
    opacity: 1;
}